body{
    margin: 0;
    text-align: center;
    background: linear-gradient(#2b2839,#d8cefe);
}

#header {
    background-image: url("images/upt.jpg");
    background-size: contain;
    height: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.title{
    margin-top: 25px;
    padding: 0 10px;
    color: white;
    background: #023047;
    text-shadow: 0 0 3px gold;
    border: 2px dotted gold;
}
.avatar{
    border-radius: 50%;
    width: 200px;
    margin: 10px 25px;
    border: 1px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.hero{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #D5D4D2;
    height: 400px;
}
.hero:hover{
    background: #ebbd61;
}
.profile{
    width: 150px;
}
.card{
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.card:hover{
    transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    
}
.avatar:hover{
    transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}