*{
    margin: 0;padding: 0;
  
}
header{
    border: 1px solid black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 12vh;
}
.content{
    width: 400px;
    margin: auto 20px;
}
.content ul{
    list-style: none;
    display: flex;
}
.content ul li{
    margin: auto 10px;
}
.logo{
    
    width: 200px;
    text-align: center;
}
.features{
    display: flex;
}
.features button{
    margin: auto 10px;
    padding: 8px 14px;
    border: 2px solid black;
    font-weight: bolder;
    background: white;
    
}
.features button:hover{
    background: rgb(159, 153, 153);
    transform: translateY(-5px)
}
